header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: #E2DCD4;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.logo {
    width: 25px;
    height: auto;
}

.logoMain {
    width: 200px;
    height: 46px;
}